{% import "macros/carousel.macro" as carousel %}
{% import "macros/menu_item.macro" as item %}
{% extends "yootk.parent.html" %}
{% block head %}
    {{super()}}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap/css/bootstrap-datetimepicker.min.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='bootstrap/js/bootstrap-datetimepicker.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='bootstrap/js/locales/bootstrap-datetimepicker.zh-CN.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/front/user_edit_password.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='ckeditor/ckeditor.js') }}"></script>
{% endblock %}
{% block body %}
<div class="row">&nbsp;</div>
<div class="row">
    <div class="col-md-12" style="height: 100%;">
        {{carousel.show_carousel()}}
    </div>
</div>
<div style="height: 1px;">&nbsp;</div>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header"><strong><span class="fa fa-user"></span>&nbsp;修改登录密码</strong></div>
            <div class="card-body text-left">
                <div class="card-body">
                    <form action="{{url_for('user_front.user_edit_password_handle')}}" method="post" id="userForm">
                        <div class="form-group row" id="oldpwdDiv">
                            <label class="col-sm-2 col-form-label text-right">
                                <strong>原始密码：</strong></label>
                            <div class="col-sm-6">
                                <input type="password" id="oldpwd" name="oldpwd" class="form-control" placeholder="请输入原始登录密码...">
                            </div>
                            <div class="col-sm-4"><span id="oldpwdMsg"></span></div>
                        </div>
                        <div class="form-group row" id="passwordDiv">
                            <label class="col-sm-2 col-form-label text-right">
                                <strong>新的密码：</strong></label>
                            <div class="col-sm-6">
                                <input type="password" id="password" name="password" class="form-control" placeholder="请输入新的登录密码...">
                            </div>
                            <div class="col-sm-4"><span id="passwordMsg"></span></div>
                        </div>
                        <div class="form-group row" id="confirmDiv">
                            <label class="col-sm-2 col-form-label text-right">
                                <strong>确认密码：</strong></label>
                            <div class="col-sm-6">
                                <input type="password" id="confirm" name="confirm" class="form-control" placeholder="请重复输入密码...">
                            </div>
                            <div class="col-sm-4"><span id="confirmMsg"></span></div>
                        </div>
                        <div class="form-group row justify-content-md-center">
                            <div class="col-md-2">&nbsp;</div>
                            <div class="col-sm-6">
                                <input type="hidden" id="csrf_token" name="csrf_token" value="{{ csrf_token() }}">
                                <button type="submit" class="btn btn-sm btn-primary"><strong><span class="fa fa-edit"></span>&nbsp;修改</strong></button>
                                <button type="reset" class="btn btn-sm btn-warning"><strong><span class="fa fa-eraser"></span>&nbsp;重置</strong></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">&nbsp;</div>
{% endblock %}